<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687904986448-i3hfvl26tusl3dsqgnb51dbs2g7gd2pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687904986448-i3hfvl26tusl3dsqgnb51dbs2g7gd2pj</string>
	<key>API_KEY</key>
	<string>AIzaSyDK3d1_tQtO1ipoIkkY0YSEWC5e1aFk4iU</string>
	<key>GCM_SENDER_ID</key>
	<string>687904986448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apothecary</string>
	<key>PROJECT_ID</key>
	<string>apothecary-cc7ea</string>
	<key>STORAGE_BUCKET</key>
	<string>apothecary-cc7ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687904986448:ios:c239d7d74ad3dbd443c855</string>
</dict>
</plist>